{
    "type": "langrid",
    "compositeServices": {
        "translation": {
            "serviceId":
            "kyoto1.langrid:TranslationCombinedWithBilingualDictionaryWithLongestMatchSearch",
            "translationBinds": ["TranslationPL"]
        },
        "backTranslation": {
            "serviceId": "kyoto1.langrid:BackTranslationCombinedWithBilingualDictionaryWithLongestMatchSearch",
            "translationBinds": ["ForwardTranslationPL", "BackwardTranslationPL"]
        }
    },
    "user": "YOURID",
    "password": "YOURPASS",
    "uri": "http://langrid.org/service_manager/wsdl/{service_id}",
    "paths": [
        {
            "sourceLang": "ja",
            "targetLang": "en",
            "serviceId": "kyoto1.langrid:KyotoUJServer",
            "serviceType": "Translation",
            "optionalBinds":[
                {"invocationName":
                 "BilingualDictionaryWithLongestMatchSearchPL",
                 "serviceId":
                 "kyoto1.langrid:BilingualDictionaryWithLongestMatchCrossSearch",
                 "children":[
                     {"invocationName":
                      "BilingualDictionaryWithLongestMatchCrossSearchPL1",
                      "serviceId":"kyoto1:langrid:PangaeaDictionary"},
                     {"invocationName":
                      "BilingualDictionaryWithLongestMatchCrossSearchPL2",
                      "serviceId":""},
                     {"invocationName":
                      "BilingualDictionaryWithLongestMatchCrossSearchPL3",
                      "serviceId":""},
                     {"invocationName":
                      "BilingualDictionaryWithLongestMatchCrossSearchPL4",
                      "serviceId":""},
                     {"invocationName":
                      "BilingualDictionaryWithLongestMatchCrossSearchPL5",
                      "serviceId":""}
                 ]
                },
                {"invocationName":"MorphologicalAnalysisPL",
                 "serviceId":"kyoto1.langrid:Mecab"}
            ]
        },
        {
            "sourceLang": "en",
            "targetLang": "ja",
            "serviceId": "kyoto1.langrid:KyotoUJServer",
            "optionalBinds":[
                {"invocationName":
                 "BilingualDictionaryWithLongestMatchSearchPL",
                 "serviceId":
                 "kyoto1.langrid:BilingualDictionaryWithLongestMatchCrossSearch",
                 "children":[
                     {"invocationName":
                      "BilingualDictionaryWithLongestMatchCrossSearchPL1",
                      "serviceId":"kyoto1:langrid:PangaeaDictionary"},
                     {"invocationName":
                      "BilingualDictionaryWithLongestMatchCrossSearchPL2",
                      "serviceId":""},
                     {"invocationName":
                      "BilingualDictionaryWithLongestMatchCrossSearchPL3",
                      "serviceId":""},
                     {"invocationName":
                      "BilingualDictionaryWithLongestMatchCrossSearchPL4",
                      "serviceId":""},
                     {"invocationName":
                      "BilingualDictionaryWithLongestMatchCrossSearchPL5",
                      "serviceId":""}
                 ]
                },
                {"invocationName":"MorphologicalAnalysisPL",
                 "serviceId":"kyoto1.langrid:TreeTagger"}
            ]
        },
        {
            "sourceLang": "ja",
            "targetLang": "vi",
            "serviceType": "Translation",
            "serviceId": "kyoto1.langrid:GoogleTranslate",
            "optionalBinds":[
                {"invocationName":
                 "BilingualDictionaryWithLongestMatchSearchPL",
                 "serviceId":
                 "kyoto1.langrid:BilingualDictionaryWithLongestMatchCrossSearch",
                 "children":[
                     {"invocationName":
                      "BilingualDictionaryWithLongestMatchCrossSearchPL1",
                      "serviceId":"kyoto1:langrid:PangaeaDictionary"},
                     {"invocationName":
                      "BilingualDictionaryWithLongestMatchCrossSearchPL2",
                      "serviceId":""},
                     {"invocationName":
                      "BilingualDictionaryWithLongestMatchCrossSearchPL3",
                      "serviceId":""},
                     {"invocationName":
                      "BilingualDictionaryWithLongestMatchCrossSearchPL4",
                      "serviceId":""},
                     {"invocationName":
                      "BilingualDictionaryWithLongestMatchCrossSearchPL5",
                      "serviceId":""}
                 ]
                },
                {"invocationName":"MorphologicalAnalysisPL",
                 "serviceId":"kyoto1.langrid:Mecab"}
            ]
        },
        {
            "sourceLang": "vi",
            "targetLang": "ja",
            "serviceType": "Translation",
            "serviceId": "kyoto1.langrid:GoogleTranslate",
            "optionalBinds":[
                {"invocationName":
                 "BilingualDictionaryWithLongestMatchSearchPL",
                 "serviceId":
                 "kyoto1.langrid:BilingualDictionaryWithLongestMatchCrossSearch",
                 "children":[
                     {"invocationName":
                      "BilingualDictionaryWithLongestMatchCrossSearchPL1",
                      "serviceId":"kyoto1:langrid:PangaeaDictionary"},
                     {"invocationName":
                      "BilingualDictionaryWithLongestMatchCrossSearchPL2",
                      "serviceId":""},
                     {"invocationName":
                      "BilingualDictionaryWithLongestMatchCrossSearchPL3",
                      "serviceId":""},
                     {"invocationName":
                      "BilingualDictionaryWithLongestMatchCrossSearchPL4",
                      "serviceId":""},
                     {"invocationName":
                      "BilingualDictionaryWithLongestMatchCrossSearchPL5",
                      "serviceId":""}
                 ]
                },
                {"invocationName":"MorphologicalAnalysisPL",
                 "serviceId":"kyoto1.langrid:VLSPPOSTaggerService"}
            ]
        },
        {
            "sourceLang": "en",
            "targetLang": "vi",
            "serviceType": "Translation",
            "serviceId": "kyoto1.langrid:GoogleTranslate",
            "optionalBinds":[
                {"invocationName":
                 "BilingualDictionaryWithLongestMatchSearchPL",
                 "serviceId":
                 "kyoto1.langrid:BilingualDictionaryWithLongestMatchCrossSearch",
                 "children":[
                     {"invocationName":
                      "BilingualDictionaryWithLongestMatchCrossSearchPL1",
                      "serviceId":"kyoto1:langrid:PangaeaDictionary"},
                     {"invocationName":
                      "BilingualDictionaryWithLongestMatchCrossSearchPL2",
                      "serviceId":""},
                     {"invocationName":
                      "BilingualDictionaryWithLongestMatchCrossSearchPL3",
                      "serviceId":""},
                     {"invocationName":
                      "BilingualDictionaryWithLongestMatchCrossSearchPL4",
                      "serviceId":""},
                     {"invocationName":
                      "BilingualDictionaryWithLongestMatchCrossSearchPL5",
                      "serviceId":""}
                 ]
                },
                {"invocationName":"MorphologicalAnalysisPL",
                 "serviceId":"kyoto1.langrid:TreeTagger"}
            ]
        },
        {
            "sourceLang": "vi",
            "targetLang": "en",
            "serviceType": "Translation",
            "serviceId": "kyoto1.langrid:GoogleTranslate",
            "optionalBinds":[
                {"invocationName":
                 "BilingualDictionaryWithLongestMatchSearchPL",
                 "serviceId":
                 "kyoto1.langrid:BilingualDictionaryWithLongestMatchCrossSearch",
                 "children":[
                     {"invocationName":
                      "BilingualDictionaryWithLongestMatchCrossSearchPL1",
                      "serviceId":"kyoto1:langrid:PangaeaDictionary"},
                     {"invocationName":
                      "BilingualDictionaryWithLongestMatchCrossSearchPL2",
                      "serviceId":""},
                     {"invocationName":
                      "BilingualDictionaryWithLongestMatchCrossSearchPL3",
                      "serviceId":""},
                     {"invocationName":
                      "BilingualDictionaryWithLongestMatchCrossSearchPL4",
                      "serviceId":""},
                     {"invocationName":
                      "BilingualDictionaryWithLongestMatchCrossSearchPL5",
                      "serviceId":""}
                 ]
                },
                {"invocationName":"MorphologicalAnalysisPL",
                 "serviceId":"kyoto1.langrid:VLSPPOSTaggerService"}
            ]
        }
    ]
}
